---
//import Welcome from '../components/Welcome.astro';
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import CardProfile from "../components/CardProfile.astro";
import AboutMe from "../components/AboutMe.astro";
//import CopyCodeBlock from "../components/CopyCodeBlock.astro";
---
<Layout>
	<Header />
	
	<div class="grid grid-cols-12 gap-5 pb-10 mb-10">
		<div id="card-profile" class="row-span-2 col-span-12 md:col-span-3 border border-dashed">
			<CardProfile/>
		</div>
		<div id="about-me" class="col-span-12 md:col-span-9 border border-dashed">
			<AboutMe />
		</div>
		
		
		<div id="null" class="md:col-span-3 col-span-12 border border-dashed">
			<span class="p-3">null</span>
		</div>
		<div id="null-1" class="md:col-span-6 col-span-12 border border-dashed">
			<span class="p-3">null</span>
		</div>
		
	  </div>

	 
</Layout>

<script>
	document.addEventListener('astro:page-load', () => {
		console.log('loading..')
		
		let el = document.getElementById("card-profile");
		let el2 = document.getElementById("about-me");
		let el3 = document.getElementById("null");
		let el4 = document.getElementById("null-1");

		el?.classList.add("animate-fadeIn");
		el2?.classList.add("animate-fadeIn");
		el3?.classList.add("animate-fadeIn");
		el4?.classList.add("animate-fadeIn");
	});
</script>