
  <div class="mx-auto max-w-7xl p-7">

    <div class="mx-auto">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">

          <div class="absolute top-0 left-0 flex size-10 items-center justify-center 
          bg-black dark:bg-transparent dark:border-white border border-dashed
          p-2">
            <svg class="size-6 text-white " xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3 3h18v18H3V3zm2 2v14h14V5H5zm5 3h4v2h-4V8zm0 3h4v2h-4v-2zm0 3h4v2h-4v-2z"/>
            </svg>
          </div>
            Development of Modern Applications
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">I specialize in developing Single Page Applications (SPA), Multi-Page Applications (MPA), and Software as a Service (SaaS) solutions using cutting-edge technologies such as Vue/Nuxt, Node.js/Express, and Laravel.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center bg-black dark:bg-transparent dark:border-white border border-dashed">
              <svg class="size-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" d="M4 4h16v16H4V4zm2 2v12h12V6H6zm2 2h8v8H8V8z"/>
              </svg>
            </div>
            Production Deployment
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">I assist clients in launching their websites into production, ensuring smooth transitions and minimal downtime.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center bg-black dark:bg-transparent dark:border-white border border-dashed">
              <svg class="size-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" d="M2 2h20v20H2V2zm18 18H4V4h16v16zM6 7h12v2H6V7zm0 4h12v2H6v-2zm0 4h12v2H6v-2z"/>
              </svg>
            </div>
            Certificate Management and Maintenance
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">I handle the setup and maintenance of SSL certificates to ensure secure communication and data protection.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute top-0 left-0 flex size-10 items-center justify-center bg-black dark:bg-transparent dark:border-white border border-dashed">
              <svg class="size-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 2l9 4v6c0 5.5-4.5 10-9 10S3 17.5 3 12V6l9-4z"/>
              </svg>
            </div>
            Focus on Security and SEO
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">I prioritize website security and optimize site performance for search engines to enhance visibility and user experience.</dd>
        </div>
      </dl>
    </div>
  </div>

