
<span class="p-5 relative w-[max-content] font-mono text-sm before:absolute before:inset-0 before:animate-typewriter before:bg-white after:absolute after:inset-5 after:w-[0.125em] after:animate-caret after:bg-black">
Projects
</span>