---
import { info } from "../data/info";
import { createLogo } from "../utils/index";

import ThemeIcon from "../components/ThemeIcon.astro";
---

<header
  class="container flex items-center justify-between h-[80px] sm:h-[123px]"
>
  <a
    class="text-2xl font-semibold dark:font-semibold font-outfit"
    href="/"
    >{createLogo(info.name)}.
  </a>
  <nav>
    <ul class="flex items-center">
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
</header>

<script is:inline>

</script>