---
import BaseHead from "../components/Head.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
import { ClientRouter } from 'astro:transitions';

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} , ogType={ogType} />
		<ClientRouter />
	</head>
	<body>
		<main class="container mx-auto px-5">
			<slot />
		</main>
		
	</body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
  </style>
